In [1]:
# ler todos os arquivos csv do diretório e guardar em um objeto
# import required modules
import numpy as np
import time
import os
import re
import pandas as pd
from dask import dataframe as dd

diretorio = r'Bases\Base_atualizada/'
all_files = list(filter(lambda x: '.csv' in x, os.listdir(diretorio)))

#Warnings: Possui uma série de funções e comandos para tratamento de mensagens de avisos e alertas do Python
import warnings
warnings.filterwarnings("ignore")

#Comando para exibir todas colunas do arquivo
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Layout CNPJ
CNPJ = {"EMPRE" : ['CNPJ_BASE', 'RAZAO_SOCIAL', 'NATUREZA_JURIDICA' , 'QUALIFICACAO' ,
          'VALOR_CAPITAL_SOCIAL' , 'PORTE_EMPRESA'  , 'ENTE_FEDERATIVO'],

"ESTABELE" : ['CNPJ_BASE', 'CNPJ_ORDEM' , 'CNPJ_DV' , 'MATRIZ_FILIAL'  , 'NOME_FANTASIA' , 'SITUACAO_CADASTRAL' ,
              'DATA_SITUACAO_CADASTRAL'  , 'MOTIVO_SITUACAO_CADASTRAL'  , 'CIDADE_EXTERIOR'  , 'PAIS'  , 'DATA_INICIO_ATIVIDADE'  ,
              'CNAE_PRINCIPAL'  , 'CNAE_SECUNDARIO' , 'TIPO_LOGRADOURO'  , 'LOGRADOURO'  , 'NUMERO'  , 'COMPLEMENTO' ,
              'BAIRRO'  , 'CEP'  , 'UF'  , 'MUNICIPIO'  , 'DDD1'  , 'TELEFONE1'  , 'DDD2'  , 'TELEFONE2'  ,
              'DDD_FAX'  , 'FAX'  , 'EMAIL'  , 'SITUACAO_ESPECIAL'  , 'DATA_SITUACAO_ESPECIAL'],  

"SIMPLES" : ['CNPJ_BASE'  , 'OPCAO_SIMPLES'  , 'DATA_OPCAO_SIMPLES'  , 'DATA_EXCLUSAO_SIMPLES'  ,
             'OPCAO_MEI'  , 'DATA_OPCAO_MEI'  , 'DATA_EXCLUSAO_MEI'],

"SOCIO" : ['CNPJ_BASE'  , 'TIPO'  , 'NOME'  , 'CPF_CNPJ'  , 'QUALIFICACAO'  , 'DATA_ENTRADA' ,
            'PAIS' , 'REPRESENTANTE'  , 'NOME_REPRESENTANTE'  , 'QUALIFICACAO_REPRESENTANTE'  , 'FAIXA_ETARIA'  ],

"PAIS" : ['CODIGO_PAIS' , 'PAIS'],

"MUNIC" : ['MUNICIPIO'  , 'MUNICIPIO'  ],

"QUALS" : ['QUALIFICACAO', 'QUALIFICACAO' ],

"NATJU" : ['NATUREZA_JURIDICA'  , 'NATUREZA_JURIDICA'],

"MOTI" : ['MOTIVO_SITUACAO_CADASTRAL'  , 'MOTIVO_SITUACAO_CADASTRAL'  ],

"CNAE" : ['CODIGO_CNAE'  , 'CNAE' ]}

In [3]:
CNAES = {5611201:'Restaurantes e similares',
        5611203:'Lanchonetes casas de chá de sucos e similares',
        5611204:'Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento',
        5611205:'Bares e outros estabelecimentos especializados em servir bebidas com entretenimento',
        5612100: 'Serviços ambulantes de alimentação'}

lista_cnae = []
for cnae in CNAES.keys():
    lista_cnae.append(cnae)

In [4]:
for cnae in lista_cnae:
    print(CNAES[cnae])

Restaurantes e similares
Lanchonetes casas de chá de sucos e similares
Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento
Bares e outros estabelecimentos especializados em servir bebidas com entretenimento
Serviços ambulantes de alimentação

In [29]:
for file in all_files:
    ffile =re.sub(" ","_",file)
    globals()[f'{ffile}'] = pd.read_csv(f'{diretorio}/{file}',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)
    print(f'ANTES \nNome: {file} Tamanho: {globals()[f"{ffile}"].shape[0]}')
    globals()[f'{ffile}'].drop_duplicates(inplace=True)
    globals()[f'{ffile}'].to_csv(f'Bases/Atualizado_CNAES_AFL.csv', index=False, sep=';', encoding='utf-8', header=False)
    print(f'DEPOIS \nNome: {file} Tamanho: {globals()[f"{ffile}"].shape[0]}')

ANTES
Nome: Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 155025
DEPOIS
Nome: Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 74758
ANTES
Nome: Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 577836
DEPOIS
Nome: Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 346148
ANTES
Nome: Lanchonetes casas de chá de sucos e similares.csv Tamanho: 2421363
DEPOIS
Nome: Lanchonetes casas de chá de sucos e similares.csv Tamanho: 1407767
ANTES
Nome: Restaurantes e similares.csv Tamanho: 1465671
DEPOIS
Nome: Restaurantes e similares.csv Tamanho: 822405
ANTES
Nome: Serviços ambulantes de alimentação.csv Tamanho: 626552
DEPOIS
Nome: Serviços ambulantes de alimentação.csv Tamanho: 350696

In [5]:
for file in all_files:
    ffile =re.sub(" ","_",file)
    globals()[f'{ffile}'] = pd.read_csv(f'{diretorio}/{file}',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)
    print(f'ANTES \nNome: {file} Tamanho: {globals()[f"{ffile}"].shape[0]}')
    globals()[f'{ffile}'].drop_duplicates(inplace=True)
    globals()[f'{ffile}'].to_csv(f'Bases/Base_atualizada/CNAES_AFL.csv', index=False, mode='a' , sep=';', encoding='utf-8', header=False)
    print(f'DEPOIS \nNome: {file} Tamanho: {globals()[f"{ffile}"].shape[0]}')

ANTES
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 74758
DEPOIS
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 74758
ANTES
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 346148
DEPOIS
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 346148
ANTES
Nome: Atualizado_Lanchonetes casas de chá de sucos e similares.csv Tamanho: 1407767
DEPOIS
Nome: Atualizado_Lanchonetes casas de chá de sucos e similares.csv Tamanho: 1407767
ANTES
Nome: Atualizado_Restaurantes e similares.csv Tamanho: 822405
DEPOIS
Nome: Atualizado_Restaurantes e similares.csv Tamanho: 822405
ANTES
Nome: Atualizado_Serviços ambulantes de alimentação.csv Tamanho: 350696
DEPOIS
Nome: Atualizado_Serviços ambulantes de alimentação.csv Tamanho: 350696

In [4]:
dados = pd.read_csv(r'Bases/Base_atualizada/CNAES_AFL.csv',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)
dados = dados.drop_duplicates(subset=['NOME_FANTASIA'])
dados.to_csv('CNAES.csv', index=False)
dados.head(5)

,CNPJ_BASE,CNPJ_ORDEM,CNPJ_DV,MATRIZ_FILIAL,NOME_FANTASIA,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,CIDADE_EXTERIOR,PAIS,DATA_INICIO_ATIVIDADE,CNAE_PRINCIPAL,CNAE_SECUNDARIO,TIPO_LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,MUNICIPIO,DDD1,TELEFONE1,DDD2,TELEFONE2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
0,CNPJ_BASE,CNPJ_ORDEM,CNPJ_DV,MATRIZ_FILIAL,NOME_FANTASIA,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,CIDADE_EXTERIOR,PAIS,DATA_INICIO_ATIVIDADE,CNAE_PRINCIPAL,CNAE_SECUNDARIO,TIPO_LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,MUNICIPIO,DDD1,TELEFONE1,DDD2,TELEFONE2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
1,39228727,1,66,1,AGO RESTOBAR,2,20200929,0,NaN,NaN,20200929,5611205,NaN,11A RUA,CLOUTIDES PEREIRA ROCHA,SN,NaN,BAIRRO CEARENSE,64795000.0,PI,1049,86.0,81126227.0,NaN,NaN,NaN,NaN,AGORESTOBAR@GMAIL.COM,NaN,NaN
2,39228909,1,37,1,NaN,2,20200929,0,NaN,NaN,20200929,5611205,"4723700,5611201",RUA,GETULIO VARGAS,158,NaN,CENTRO,37925000.0,MG,5029,16.0,37221828.0,NaN,NaN,NaN,NaN,CONTATO.ESCRITORIOBRASIL@GMAIL.COM,NaN,NaN
3,39232903,1,33,1,PROMESSA DE DEUS,2,20200929,0,NaN,NaN,20200929,5611205,NaN,10A RUA,SALAO,681,BLOCO CASA,RUA AUGUSTINHO ALEGRE CHIC,15360000.0,SP,7147,18.0,91506338.0,NaN,NaN,NaN,NaN,FRANCIELLEOLIVA20@GMAIL.COM,NaN,NaN
4,39233197,1,44,1,PESQUE & PAGUE BOM PESQUEIRO,2,20200929,0,NaN,NaN,20200929,5611205,"5611203,4722902",RODOVIA,RODOVIA PR364,SN,NaN,CABECEIRA DO ARROIO GRANDE,85270000.0,PR,7737,42.0,91173669.0,NaN,NaN,NaN,NaN,CLEVERSONPALMITAL17@GMAIL.COM,NaN,NaN

In [ ]:
del all_files
del cnae
del CNAES
del diretorio

In [17]:
dados = pd.read_csv(r'C:\Users\ABRASEL NACIONAL\Documents\CNPJ_PROGRAMATICA\ESTABELECIMENTOSCSV\K3241.K03200Y2.D21119.csv', encoding='ISO-8859-1',sep=';', nrows=1000, names=CNPJ['ESTABELE'], decimal='.')

In [ ]:
print(str(round(dados.memory_usage(deep=True).sum() / 1024)) + ' KB')

In [14]:
globals()[f'dados'] = pd.DataFrame()

In [19]:
del globals()[f'dados']

In [5]:
objects = dados.select_dtypes('object').columns
dados.loc[:, objects] = dados.loc[:, objects].apply(lambda x: x.astype('category'))

ints = dados.select_dtypes(include=['int64','int32','int16']).columns
dados[ints] = dados[ints].apply(pd.to_numeric, downcast='integer')

floats = dados.select_dtypes(include=['float']).columns
dados[floats] = dados[floats].apply(pd.to_numeric, downcast='float')

In [8]:
print(str(round(dados.memory_usage(deep=True).sum() / 1024)) + ' KB')
dados.describe()

26 KB

,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,CIDADE_EXTERIOR,PAIS,DATA_INICIO_ATIVIDADE,CNAE_PRINCIPAL,CNAE_SECUNDARIO,TIPO_LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,MUNICIPIO,DDD1,TELEFONE1,DDD2,TELEFONE2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
count,2.00,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,6677553.50,6677553.5,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2718191.25,2718190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4755502.00,4755503.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5716528.00,5716528.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6677553.50,6677553.5,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7638579.00,7638579.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8599605.00,8599604.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
types = dados.dtypes
types = types.apply(str)
dict_types = types.to_dict()
dict_types

{'CNPJ_BASE': 'category',
 'CNPJ_ORDEM': 'category',
 'CNPJ_DV': 'category',
 'MATRIZ_FILIAL': 'category',
 'NOME_FANTASIA': 'category',
 'SITUACAO_CADASTRAL': 'float32',
 'DATA_SITUACAO_CADASTRAL': 'float32',
 'MOTIVO_SITUACAO_CADASTRAL': 'category',
 'CIDADE_EXTERIOR': 'float32',
 'PAIS': 'float32',
 'DATA_INICIO_ATIVIDADE': 'float32',
 'CNAE_PRINCIPAL': 'float32',
 'CNAE_SECUNDARIO': 'float32',
 'TIPO_LOGRADOURO': 'float32',
 'LOGRADOURO': 'category',
 'NUMERO': 'float32',
 'COMPLEMENTO': 'float32',
 'BAIRRO': 'float32',
 'CEP': 'float32',
 'UF': 'float32',
 'MUNICIPIO': 'float32',
 'DDD1': 'float32',
 'TELEFONE1': 'float32',
 'DDD2': 'float32',
 'TELEFONE2': 'float32',
 'DDD_FAX': 'float32',
 'FAX': 'float32',
 'EMAIL': 'float32',
 'SITUACAO_ESPECIAL': 'float32',
 'DATA_SITUACAO_ESPECIAL': 'float32'}

In [ ]:

dataframes = []
for cnae in lista_cnae:
    globals()[f'df_{cnae}'] = dados.loc[dados['CNAE_PRINCIPAL']== cnae]
    dataframes.append(f'df_{cnae}')
dados = pd.DataFrame()

In [4]:
# realizar a leitura para cada arquivo

full_dataset = []
for arq in all_files:
    frags = arq.split('.')
    frame = frags[1]
    globals()[f"df_{frame}"] = pd.read_csv(f'{diretorio}{arq}',sep=';' ,encoding="ISO-8859-1", nrows=50, names=CNPJ['ESTABELE'])
    #data = pd.read_csv(f'{diretorio}{arq}',sep=';' ,encoding="ISO-8859-1", nrows=50, names=CNPJ['ESTABELE'])
    full_dataset.append(globals()[f"df_{frame}"])
    #full_dataset.append(data)    
    globals()[f"df_{frame}"].head(1)

In [ ]:
print(full_dataset)

In [9]:
import sqlite3
# estabelecendo a conexão e criando o banco
con = sqlite3.connect('database_estabelecimento_sodexo.db')

In [10]:
# obtendo os nomes das tabelas
table_names = [os.path.splitext(arq)[0] for arq in all_files]

In [11]:
# obtendo os campos de todas as tabelas
table_fields = []
for i in range(0,len(table_names)):
    columnNames = list(full_dataset[i].head(0))
    table_fields.append(columnNames)

In [12]:
import sqlite3
cur = con.cursor()

In [13]:
# criando as tabelas no SQLite
for item in range(0,len(table_names)):
    cur.execute(f"""CREATE TABLE IF NOT EXISTS {table_names[item] } ( {','.join(table_fields[item])} )""")
    print(f"""CREATE TABLE IF NOT EXISTS {table_names[item] } ( {','.join(table_fields[item])} )""")

CREATE TABLE IF NOT EXISTS November_Estabelecimentos_Sodexo_Atualizado ( Estabelecimento,Endereço,Cidade_UF,Telefone,Latitude,Longitude )

In [18]:
# Varre todas as tabelas e para cada uma é realizada a inserção dos dados
for i in range(0, len(table_names)):

    query = f"""INSERT INTO  {str(table_names[i])} ( {','.join(table_fields[i])}  ) VALUES ( {','.join(map(str,'?'*len(full_dataset[i].columns)))} )"""


    full_dataset[i] = full_dataset[i].astype(str)

    for j in range(0, len(full_dataset[i])):
        insert_register = tuple(full_dataset[i].iloc[j])
        cur.execute(query, insert_register)
        con.commit()

In [32]:
def SELECT_WHERE(campo:str = '*' ,tabela:str = table_names[0], where:str = table_fields[0][2], condicao:str = 'Belo Horizonte, MG'):
    select = f""" SELECT {campo} FROM {tabela}
            WHERE {where} = '{condicao}'
    """

    cur.execute(select)
    rows = cur.fetchall()
    print(len(rows))
    for row in rows:
        print(row)

In [ ]:
SELECT_WHERE()

In [13]:
dadosben = pd.read_excel(r"C:\Users\ABRASEL NACIONAL\Documents\CNPJ_PROGRAMATICA\Painel_Leads\BaseCsv\ATUALIZADO_November_Estabelecimentos_Sodexo.xlsx", usecols=['Estabelecimento','Endereço','Cidade_UF'])
dadosben.head()

,Estabelecimento,Endereço,Cidade_UF
0,GRAN PASTEL GOURMET,"RUA CARACA 934, 934 CASA NOSSA SENHORA DA CONC...",BELO HORIZONTE - MG
1,M130 SERRA,"R IVAI, 130 SERRA, BELO HORIZONTE - MG",BELO HORIZONTE - MG
2,COMBATE DISTRIBUIDORA,"RUA BAMBUI 56, 56 LOJA A NOSSA SENHORA DA CONC...",BELO HORIZONTE - MG
3,RESTAURANTE GFH 8 EIRELI,"RUA ORIENTE 827, 2323 PORTARIA - SERRA, BELO H...",BELO HORIZONTE - MG
4,EPA SUPERMERCADOS,"R CARACA, 600 SERRA, BELO HORIZONTE - MG",BELO HORIZONTE - MG

In [14]:
new_i = []
for i in dadosben['Endereço']:
    list_i = i.split(',')
    if len(list_i) > 1:
        new_i.append(list_i[0] + list_i[1])
    else:
        new_i.append(i)
dadosben['EnderecoComparacao'] = new_i

In [15]:
del new_i, i, list_i

In [ ]:
dadosben.drop(columns='Endereço', inplace=True)

In [16]:

dadosben.to_csv('basecomparacao_cartoes.csv', mode='a', index=False)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3789343119.py, line 2)

In [ ]:
del dadosben