### Lendo todos os arquivos csv do diretório e guardar em um objeto

```python

    Primeiramente vamos ler todos arquivos xlsx que estão presentes em um diretório cujo nome. 
    Então, criamos uma função anônima (lambda) para varrer todos os arquivos xlsx e restringimos a nossa condição de busca ao 
```

In [1]:
# ler todos os arquivos csv do diretório e guardar em um objeto
# import required modules
import numpy as np
import time
import os
import re
import pandas as pd
from dask import dataframe as dd

diretorio = r'Bases/'
all_files = list(filter(lambda x: '.csv' in x, os.listdir(diretorio)))

#Warnings: Possui uma série de funções e comandos para tratamento de mensagens de avisos e alertas do Python
import warnings
warnings.filterwarnings("ignore")

#Comando para exibir todas colunas do arquivo
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Realizando a leitura para cada arquivo
```python
        Podemos fazer a leitura de todos os arquivos presentes no diretório criando uma lista vazia (full_dataset) e utilizamos um loop para fazer a leitura de cada arquivo e, assim preenchermos a lista utilizando o método append.
```

In [2]:

CNPJ = {"EMPRE" : ['CNPJ_BASE', 'RAZAO_SOCIAL', 'NATUREZA_JURIDICA' , 'QUALIFICACAO' ,
          'VALOR_CAPITAL_SOCIAL' , 'PORTE_EMPRESA'  , 'ENTE_FEDERATIVO'],

"ESTABELE" : ['CNPJ_BASE', 'CNPJ_ORDEM' , 'CNPJ_DV' , 'MATRIZ_FILIAL'  , 'NOME_FANTASIA' , 'SITUACAO_CADASTRAL' ,
              'DATA_SITUACAO_CADASTRAL'  , 'MOTIVO_SITUACAO_CADASTRAL'  , 'CIDADE_EXTERIOR'  , 'PAIS'  , 'DATA_INICIO_ATIVIDADE'  ,
              'CNAE_PRINCIPAL'  , 'CNAE_SECUNDARIO' , 'TIPO_LOGRADOURO'  , 'LOGRADOURO'  , 'NUMERO'  , 'COMPLEMENTO' ,
              'BAIRRO'  , 'CEP'  , 'UF'  , 'MUNICIPIO'  , 'DDD1'  , 'TELEFONE1'  , 'DDD2'  , 'TELEFONE2'  ,
              'DDD_FAX'  , 'FAX'  , 'EMAIL'  , 'SITUACAO_ESPECIAL'  , 'DATA_SITUACAO_ESPECIAL'],  

"SIMPLES" : ['CNPJ_BASE'  , 'OPCAO_SIMPLES'  , 'DATA_OPCAO_SIMPLES'  , 'DATA_EXCLUSAO_SIMPLES'  ,
             'OPCAO_MEI'  , 'DATA_OPCAO_MEI'  , 'DATA_EXCLUSAO_MEI'],

"SOCIO" : ['CNPJ_BASE'  , 'TIPO'  , 'NOME'  , 'CPF_CNPJ'  , 'QUALIFICACAO'  , 'DATA_ENTRADA' ,
            'PAIS' , 'REPRESENTANTE'  , 'NOME_REPRESENTANTE'  , 'QUALIFICACAO_REPRESENTANTE'  , 'FAIXA_ETARIA'  ],

"PAIS" : ['CODIGO_PAIS' , 'PAIS'],

"MUNIC" : ['MUNICIPIO'  , 'MUNICIPIO'  ],

"QUALS" : ['QUALIFICACAO', 'QUALIFICACAO' ],

"NATJU" : ['NATUREZA_JURIDICA'  , 'NATUREZA_JURIDICA'],

"MOTI" : ['MOTIVO_SITUACAO_CADASTRAL'  , 'MOTIVO_SITUACAO_CADASTRAL'  ],

"CNAE" : ['CODIGO_CNAE'  , 'CNAE' ]}

In [4]:
CNAES = {5611201:'Restaurantes e similares',
        5611203:'Lanchonetes casas de chá de sucos e similares',
        5611204:'Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento',
        5611205:'Bares e outros estabelecimentos especializados em servir bebidas com entretenimento',
        5612100: 'Serviços ambulantes de alimentação'}

lista_cnae = []
for cnae in CNAES.keys():
    lista_cnae.append(cnae)

In [5]:
for cnae in lista_cnae:
    print(CNAES[cnae])

Restaurantes e similares
Lanchonetes casas de chá de sucos e similares
Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento
Bares e outros estabelecimentos especializados em servir bebidas com entretenimento
Serviços ambulantes de alimentação

In [6]:
for file in all_files:
    ffile =re.sub(" ","_",file)
    globals()[f'{ffile}'] = pd.read_csv(f'{diretorio}/{file}',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)
    print(f'Nome: {file} Tamanho: {globals()[f"{ffile}"].shape}')

Nome: Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: (26871, 30)
Nome: Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: (41022, 30)
Nome: Lanchonetes casas de chá de sucos e similares.csv Tamanho: (222300, 30)
Nome: Restaurantes e similares.csv Tamanho: (157575, 30)
Nome: Serviços ambulantes de alimentação.csv Tamanho: (63174, 30)

```python
        5611201, -- Restaurantes e similares
        5611203, -- Lanchonetes casas de chá de sucos e similares
        5611204, -- Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento
        5611205 -- Bares e outros estabelecimentos especializados em servir bebidas com entretenimento
```

In [17]:
dados = pd.read_csv(r'C:\Users\ABRASEL NACIONAL\Documents\CNPJ_PROGRAMATICA\ESTABELECIMENTOSCSV\K3241.K03200Y2.D21119.csv', encoding='ISO-8859-1',sep=';', nrows=1000, names=CNPJ['ESTABELE'], decimal='.')

In [20]:
print(str(round(dados.memory_usage(deep=True).sum() / 1024)) + ' KB')

NameError: name 'dados' is not defined

In [14]:
globals()[f'dados'] = pd.DataFrame()

In [19]:
del globals()[f'dados']

In [5]:
objects = dados.select_dtypes('object').columns
dados.loc[:, objects] = dados.loc[:, objects].apply(lambda x: x.astype('category'))

ints = dados.select_dtypes(include=['int64','int32','int16']).columns
dados[ints] = dados[ints].apply(pd.to_numeric, downcast='integer')

floats = dados.select_dtypes(include=['float']).columns
dados[floats] = dados[floats].apply(pd.to_numeric, downcast='float')

In [8]:
print(str(round(dados.memory_usage(deep=True).sum() / 1024)) + ' KB')
dados.describe()

26 KB

,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,CIDADE_EXTERIOR,PAIS,DATA_INICIO_ATIVIDADE,CNAE_PRINCIPAL,CNAE_SECUNDARIO,TIPO_LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,MUNICIPIO,DDD1,TELEFONE1,DDD2,TELEFONE2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
count,2.00,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,6677553.50,6677553.5,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2718191.25,2718190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4755502.00,4755503.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5716528.00,5716528.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6677553.50,6677553.5,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7638579.00,7638579.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8599605.00,8599604.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
types = dados.dtypes
types = types.apply(str)
dict_types = types.to_dict()
dict_types

{'CNPJ_BASE': 'category',
 'CNPJ_ORDEM': 'category',
 'CNPJ_DV': 'category',
 'MATRIZ_FILIAL': 'category',
 'NOME_FANTASIA': 'category',
 'SITUACAO_CADASTRAL': 'float32',
 'DATA_SITUACAO_CADASTRAL': 'float32',
 'MOTIVO_SITUACAO_CADASTRAL': 'category',
 'CIDADE_EXTERIOR': 'float32',
 'PAIS': 'float32',
 'DATA_INICIO_ATIVIDADE': 'float32',
 'CNAE_PRINCIPAL': 'float32',
 'CNAE_SECUNDARIO': 'float32',
 'TIPO_LOGRADOURO': 'float32',
 'LOGRADOURO': 'category',
 'NUMERO': 'float32',
 'COMPLEMENTO': 'float32',
 'BAIRRO': 'float32',
 'CEP': 'float32',
 'UF': 'float32',
 'MUNICIPIO': 'float32',
 'DDD1': 'float32',
 'TELEFONE1': 'float32',
 'DDD2': 'float32',
 'TELEFONE2': 'float32',
 'DDD_FAX': 'float32',
 'FAX': 'float32',
 'EMAIL': 'float32',
 'SITUACAO_ESPECIAL': 'float32',
 'DATA_SITUACAO_ESPECIAL': 'float32'}

In [ ]:

dataframes = []
for cnae in lista_cnae:
    globals()[f'df_{cnae}'] = dados.loc[dados['CNAE_PRINCIPAL']== cnae]
    dataframes.append(f'df_{cnae}')
dados = pd.DataFrame()

In [4]:
# realizar a leitura para cada arquivo

full_dataset = []
for arq in all_files:
    frags = arq.split('.')
    frame = frags[1]
    globals()[f"df_{frame}"] = pd.read_csv(f'{diretorio}{arq}',sep=';' ,encoding="ISO-8859-1", nrows=50, names=CNPJ['ESTABELE'])
    #data = pd.read_csv(f'{diretorio}{arq}',sep=';' ,encoding="ISO-8859-1", nrows=50, names=CNPJ['ESTABELE'])
    full_dataset.append(globals()[f"df_{frame}"])
    #full_dataset.append(data)    
    globals()[f"df_{frame}"].head(1)

In [ ]:
print(full_dataset)

### Estabelecendo a conexão e criando o banco

```python
    Vamos criar uma conexão com o SQLite. 
    O único parâmetro que vamos passar é o nome do banco que será criado.

```

In [9]:
import sqlite3
# estabelecendo a conexão e criando o banco
con = sqlite3.connect('database_estabelecimento_sodexo.db')

### Obtendo os nomes das tabelas
        
```python
        Para obter o nome das nossas tabelas utilizamos como referência o nome dos arquivos xlsx. 
        O método splitext é o responsável por separar entre o nome do arquivo e a extensão. 
        O valor cujo índice é [0] garante que pegaremos apenas a primeira coluna com os nomes dos arquivos.
    
```

In [10]:
# obtendo os nomes das tabelas
table_names = [os.path.splitext(arq)[0] for arq in all_files]

### Obtendo os campos de todas as tabelas
    
```python
        Em seguida, obteremos os campos de todas as tabelas. Dentro do laço, coletamos a primeira linha (cabeçalho) e armazenamos em columnNames finalizando com um append na lista table_fields.
    
```

In [11]:
# obtendo os campos de todas as tabelas
table_fields = []
for i in range(0,len(table_names)):
    columnNames = list(full_dataset[i].head(0))
    table_fields.append(columnNames)

### Manipulando o BD
```python
    Antes da criação e inserção de dados, é necessário definirmos um cursor para interagir com os registros do BD.
```

In [12]:
import sqlite3
cur = con.cursor()

### Criando as tabelas no SQLite
    
```python
        Nesse momento, criaremos as tabelas dentro do SQlite. 
        Para cada elemento das minhas tabelas do xsxl, executamos uma query para criação das tabelas. 
        Passando para a função execute() o nome da tabela (table_names[item]) bem como os campos que as compõe utilizando o separador vírgula 
    
(‘,’.join(table_fields[item])).
```

In [13]:
# criando as tabelas no SQLite
for item in range(0,len(table_names)):
    cur.execute(f"""CREATE TABLE IF NOT EXISTS {table_names[item] } ( {','.join(table_fields[item])} )""")
    print(f"""CREATE TABLE IF NOT EXISTS {table_names[item] } ( {','.join(table_fields[item])} )""")

CREATE TABLE IF NOT EXISTS November_Estabelecimentos_Sodexo_Atualizado ( Estabelecimento,Endereço,Cidade_UF,Telefone,Latitude,Longitude )

### Varrendo todas as tabelas e para cada uma é realizado a inserção dos dados
```python

        A última etapa é realizar a carga dos registros em todas as tabelas. 
        Isso será feito por um laço de repetição que percorre cada tabela realizando a carga dos registros e em seguida grava a execução utilizando o commit().
```

In [18]:
# Varre todas as tabelas e para cada uma é realizada a inserção dos dados
for i in range(0, len(table_names)):

    query = f"""INSERT INTO  {str(table_names[i])} ( {','.join(table_fields[i])}  ) VALUES ( {','.join(map(str,'?'*len(full_dataset[i].columns)))} )"""


    full_dataset[i] = full_dataset[i].astype(str)

    for j in range(0, len(full_dataset[i])):
        insert_register = tuple(full_dataset[i].iloc[j])
        cur.execute(query, insert_register)
        con.commit()

### Função Select nos dados
    
```python
        Chamando a função com parâmetros CAMPO, TABELA, WHERE, CONDIÇÃO 
    
```

In [32]:
def SELECT_WHERE(campo:str = '*' ,tabela:str = table_names[0], where:str = table_fields[0][2], condicao:str = 'Belo Horizonte, MG'):
    select = f""" SELECT {campo} FROM {tabela}
            WHERE {where} = '{condicao}'
    """

    cur.execute(select)
    rows = cur.fetchall()
    print(len(rows))
    for row in rows:
        print(row)

In [ ]:
SELECT_WHERE()