In [1]:
# ler todos os arquivos csv do diretório e guardar em um objeto
# import required modules
import numpy as np
import time
import os
import re
import pandas as pd
from dask import dataframe as dd

#diretorio = r'Bases\Base_atualizada/'
diretorio = r'Bases/'
all_files = list(filter(lambda x: '.csv' in x, os.listdir(diretorio)))

#Warnings: Possui uma série de funções e comandos para tratamento de mensagens de avisos e alertas do Python
import warnings
warnings.filterwarnings("ignore")

#Comando para exibir todas colunas do arquivo
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Layout CNPJ
CNPJ = {"EMPRE" : ['CNPJ_BASE', 'RAZAO_SOCIAL', 'NATUREZA_JURIDICA' , 'QUALIFICACAO' ,
          'VALOR_CAPITAL_SOCIAL' , 'PORTE_EMPRESA'  , 'ENTE_FEDERATIVO'],

"ESTABELE" : ['CNPJ_BASE', 'CNPJ_ORDEM' , 'CNPJ_DV' , 'MATRIZ_FILIAL'  , 'NOME_FANTASIA' , 'SITUACAO_CADASTRAL' ,
              'DATA_SITUACAO_CADASTRAL'  , 'MOTIVO_SITUACAO_CADASTRAL'  ,  'DATA_INICIO_ATIVIDADE'  ,
              'CNAE_PRINCIPAL'  , 'CNAE_SECUNDARIO' , 'TIPO_LOGRADOURO'  , 'LOGRADOURO'  , 'NUMERO'  , 'COMPLEMENTO' ,
              'BAIRRO'  , 'CEP'  , 'UF'  , 'MUNICIPIO'  , 'DDD1'  , 'TELEFONE1'  , 'DDD2'  , 'TELEFONE2'  ,
              'DDD_FAX'  , 'FAX'  , 'EMAIL'],  

"SIMPLES" : ['CNPJ_BASE'  , 'OPCAO_SIMPLES'  , 'DATA_OPCAO_SIMPLES'  , 'DATA_EXCLUSAO_SIMPLES'  ,
             'OPCAO_MEI'  , 'DATA_OPCAO_MEI'  , 'DATA_EXCLUSAO_MEI'],

"SOCIO" : ['CNPJ_BASE'  , 'TIPO'  , 'NOME'  , 'CPF_CNPJ'  , 'QUALIFICACAO'  , 'DATA_ENTRADA' ,
            'PAIS' , 'REPRESENTANTE'  , 'NOME_REPRESENTANTE'  , 'QUALIFICACAO_REPRESENTANTE'  , 'FAIXA_ETARIA'  ],

"PAIS" : ['CODIGO_PAIS' , 'PAIS'],

"MUNIC" : ['MUNICIPIO'  , 'MUNICIPIO'  ],

"QUALS" : ['QUALIFICACAO', 'QUALIFICACAO' ],

"NATJU" : ['NATUREZA_JURIDICA'  , 'NATUREZA_JURIDICA'],

"MOTI" : ['MOTIVO_SITUACAO_CADASTRAL'  , 'MOTIVO_SITUACAO_CADASTRAL'  ],

"CNAE" : ['CODIGO_CNAE'  , 'CNAE' ]}
colunas = [0,1,2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]

In [3]:
CNAES = {5611201:'Restaurantes e similares',
        5611203:'Lanchonetes casas de chá de sucos e similares',
        5611204:'Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento',
        5611205:'Bares e outros estabelecimentos especializados em servir bebidas com entretenimento',
        5612100: 'Serviços ambulantes de alimentação'}

lista_cnae = []
for cnae in CNAES.keys():
    lista_cnae.append(cnae)

In [ ]:
for cnae in lista_cnae:
    print(CNAES[cnae])

In [5]:
for file in all_files:
    globals()[f'{file}'] = pd.read_csv(f'{diretorio}/{file}',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)
    print(f'ANTES \nNome: {file} Tamanho: {globals()[f"{file}"].shape[0]}')
    globals()[f'{file}']['NOME_FANTASIA'].fillna('Indisponível', inplace=True)
    globals()[f'{file}'].drop_duplicates(inplace=True)
    indice_remove = globals()[f'{file}'][(globals()[f'{file}']['SITUACAO_CADASTRAL'] != 2) & (globals()[f'{file}']['SITUACAO_CADASTRAL'] != 3) &(globals()[f'{file}']['SITUACAO_CADASTRAL'] != 4)& (globals()[f'{file}']['SITUACAO_CADASTRAL'] != 5)].index
    globals()[f'{file}'].drop(indice_remove, inplace=True)
    globals()[f'{file}'].to_csv(f'{diretorio}Arquivos_Limpos/{file}', index=False,sep=';', encoding='utf-8', header=False)
    globals()[f'{file}'].to_csv(f'Bases/Atualizado_CNAES_AFL.csv', index=False, mode='a', sep=';', encoding='utf-8', header=False)
    print(f'DEPOIS \nNome: {file} Tamanho: {globals()[f"{file}"].shape[0]}')

ANTES
Nome: Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 95946
DEPOIS
Nome: Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 74905
ANTES
Nome: Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 443914
DEPOIS
Nome: Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 244129
ANTES
Nome: Lanchonetes casas de chá de sucos e similares.csv Tamanho: 1892482
DEPOIS
Nome: Lanchonetes casas de chá de sucos e similares.csv Tamanho: 724680
ANTES
Nome: Restaurantes e similares.csv Tamanho: 1082910
DEPOIS
Nome: Restaurantes e similares.csv Tamanho: 582532
ANTES
Nome: Serviços ambulantes de alimentação.csv Tamanho: 449445
DEPOIS
Nome: Serviços ambulantes de alimentação.csv Tamanho: 260776

In [5]:
for file in all_files:
    globals()[f'{file}'] = pd.read_csv(f'{diretorio}Arquivos_Limpos/{file}',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)

ANTES
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 74758
DEPOIS
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas com entretenimento.csv Tamanho: 74758
ANTES
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 346148
DEPOIS
Nome: Atualizado_Bares e outros estabelecimentos especializados em servir bebidas sem entretenimento.csv Tamanho: 346148
ANTES
Nome: Atualizado_Lanchonetes casas de chá de sucos e similares.csv Tamanho: 1407767
DEPOIS
Nome: Atualizado_Lanchonetes casas de chá de sucos e similares.csv Tamanho: 1407767
ANTES
Nome: Atualizado_Restaurantes e similares.csv Tamanho: 822405
DEPOIS
Nome: Atualizado_Restaurantes e similares.csv Tamanho: 822405
ANTES
Nome: Atualizado_Serviços ambulantes de alimentação.csv Tamanho: 350696
DEPOIS
Nome: Atualizado_Serviços ambulantes de alimentação.csv Tamanho: 350696

In [18]:
c = 0
for file in all_files:
    c = c+1
    indice_remove = globals()[f'{file}'][(globals()[f'{file}']['SITUACAO_CADASTRAL'] != 2) & (globals()[f'{file}']['SITUACAO_CADASTRAL'] != 3) &(globals()[f'{file}']['SITUACAO_CADASTRAL'] != 4)& (globals()[f'{file}']['SITUACAO_CADASTRAL'] != 5)].index
    globals()[f'{file}'].drop(indice_remove, inplace=True)
    globals()[f'var{c}'] = globals()[f'{file}'].SITUACAO_CADASTRAL.value_counts()
    print(globals()[f'var{c}'])

2    70921
4     3968
3       16
Name: SITUACAO_CADASTRAL, dtype: int64
2    146123
4     96956
3      1050
Name: SITUACAO_CADASTRAL, dtype: int64
2    453352
4    264366
3      6962
Name: SITUACAO_CADASTRAL, dtype: int64
2    406875
4    171963
3      3694
Name: SITUACAO_CADASTRAL, dtype: int64
2    188788
4     71693
3       295
Name: SITUACAO_CADASTRAL, dtype: int64

In [3]:
dados = pd.read_csv(r'Bases/Base_atualizada/CNAES_AFL.csv',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)
print(dados.shape[0])
dados = dados.drop_duplicates(subset=['CNPJ_BASE','CNPJ_ORDEM','CNPJ_DV','MATRIZ_FILIAL'], keep=False)
print(dados.shape[0])
dados.to_csv(r'Bases/Base_atualizada/Atualizado_CNAES_AFL.csv', index=False, header=False, encoding='utf-8', sep=';')
dados.head(5)

1887022
1887022

,CNPJ_BASE,CNPJ_ORDEM,CNPJ_DV,MATRIZ_FILIAL,NOME_FANTASIA,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,MOTIVO_SITUACAO_CADASTRAL,CIDADE_EXTERIOR,PAIS,DATA_INICIO_ATIVIDADE,CNAE_PRINCIPAL,CNAE_SECUNDARIO,TIPO_LOGRADOURO,LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,MUNICIPIO,DDD1,TELEFONE1,DDD2,TELEFONE2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
0,39228727,1,66,1,AGO RESTOBAR,2,20200929,0,NaN,NaN,20200929,5611205,NaN,11A RUA,CLOUTIDES PEREIRA ROCHA,SN,NaN,BAIRRO CEARENSE,64795000.0,PI,1049,86.0,81126227.0,NaN,NaN,NaN,NaN,AGORESTOBAR@GMAIL.COM,NaN,NaN
1,39228909,1,37,1,Indisponível,2,20200929,0,NaN,NaN,20200929,5611205,"4723700,5611201",RUA,GETULIO VARGAS,158,NaN,CENTRO,37925000.0,MG,5029,16.0,37221828.0,NaN,NaN,NaN,NaN,CONTATO.ESCRITORIOBRASIL@GMAIL.COM,NaN,NaN
2,39232903,1,33,1,PROMESSA DE DEUS,2,20200929,0,NaN,NaN,20200929,5611205,NaN,10A RUA,SALAO,681,BLOCO CASA,RUA AUGUSTINHO ALEGRE CHIC,15360000.0,SP,7147,18.0,91506338.0,NaN,NaN,NaN,NaN,FRANCIELLEOLIVA20@GMAIL.COM,NaN,NaN
3,39233197,1,44,1,PESQUE & PAGUE BOM PESQUEIRO,2,20200929,0,NaN,NaN,20200929,5611205,"5611203,4722902",RODOVIA,RODOVIA PR364,SN,NaN,CABECEIRA DO ARROIO GRANDE,85270000.0,PR,7737,42.0,91173669.0,NaN,NaN,NaN,NaN,CLEVERSONPALMITAL17@GMAIL.COM,NaN,NaN
4,39237626,1,51,1,BAR DO BEM,2,20200929,0,NaN,NaN,20200929,5611205,"5620104,4723700,5611201,8230001",AVENIDA,PARA,440,NaN,PACOVAL,68908230.0,AP,605,96.0,88083115.0,NaN,NaN,NaN,NaN,DAVID.PAULA.CAMILA@GMAIL.COM,NaN,NaN

In [3]:
dados1 = pd.read_csv(r'Bases/Base_atualizada/CNAES_AFL.csv',sep=';',encoding='utf-8', names=CNPJ['ESTABELE'],low_memory=False)
print(dados1.shape[0])
CNPJ_BASE = dados1['CNPJ_BASE'].to_list()
del dados1

1887022

In [ ]:
del all_files
del cnae
del CNAES
del diretorio

In [6]:
print(str(round(dados.memory_usage(deep=True).sum() / 1024)) + ' KB')
dados.memory_usage(deep=True)

4336281 KB

Index                              128
CNPJ_BASE                    457161884
CNPJ_ORDEM                     9963099
CNPJ_DV                        4763503
MATRIZ_FILIAL                 38027480
NOME_FANTASIA                272035015
SITUACAO_CADASTRAL            38027480
DATA_SITUACAO_CADASTRAL       38027480
MOTIVO_SITUACAO_CADASTRAL     38027480
CIDADE_EXTERIOR              152202184
PAIS                          38027480
DATA_INICIO_ATIVIDADE         38027480
CNAE_PRINCIPAL                38027480
CNAE_SECUNDARIO              253404744
TIPO_LOGRADOURO              289347089
LOGRADOURO                   344125904
NUMERO                       284761870
COMPLEMENTO                  224426009
BAIRRO                       322486979
CEP                           38027480
UF                           280452665
MUNICIPIO                     38027480
DDD1                         154749884
TELEFONE1                    184070604
DDD2                          38027480
TELEFONE2                    154091950
DDD_FAX                       38027480
FAX                          166123047
EMAIL                        277745349
SITUACAO_ESPECIAL            152110326
DATA_SITUACAO_ESPECIAL        38027480
dtype: int64

In [ ]:
print(str(round(dados1.memory_usage(deep=True).sum() / 1024)) + ' KB')

In [14]:
globals()[f'dados'] = pd.DataFrame()

In [19]:
del globals()[f'dados']

In [5]:
objects = dados.select_dtypes('object').columns
dados.loc[:, objects] = dados.loc[:, objects].apply(lambda x: x.astype('category'))

ints = dados.select_dtypes(include=['int64','int32','int16']).columns
dados[ints] = dados[ints].apply(pd.to_numeric, downcast='integer')

floats = dados.select_dtypes(include=['float']).columns
dados[floats] = dados[floats].apply(pd.to_numeric, downcast='float')

In [8]:
print(str(round(dados.memory_usage(deep=True).sum() / 1024)) + ' KB')
dados.describe()

26 KB

,SITUACAO_CADASTRAL,DATA_SITUACAO_CADASTRAL,CIDADE_EXTERIOR,PAIS,DATA_INICIO_ATIVIDADE,CNAE_PRINCIPAL,CNAE_SECUNDARIO,TIPO_LOGRADOURO,NUMERO,COMPLEMENTO,BAIRRO,CEP,UF,MUNICIPIO,DDD1,TELEFONE1,DDD2,TELEFONE2,DDD_FAX,FAX,EMAIL,SITUACAO_ESPECIAL,DATA_SITUACAO_ESPECIAL
count,2.00,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,6677553.50,6677553.5,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2718191.25,2718190.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4755502.00,4755503.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5716528.00,5716528.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6677553.50,6677553.5,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7638579.00,7638579.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,8599605.00,8599604.0,4753900.0,4754703.0,4789007.0,4782201.0,4744001.0,4783102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
types = dados.dtypes
types = types.apply(str)
dict_types = types.to_dict()
dict_types

{'CNPJ_BASE': 'category',
 'CNPJ_ORDEM': 'category',
 'CNPJ_DV': 'category',
 'MATRIZ_FILIAL': 'category',
 'NOME_FANTASIA': 'category',
 'SITUACAO_CADASTRAL': 'float32',
 'DATA_SITUACAO_CADASTRAL': 'float32',
 'MOTIVO_SITUACAO_CADASTRAL': 'category',
 'CIDADE_EXTERIOR': 'float32',
 'PAIS': 'float32',
 'DATA_INICIO_ATIVIDADE': 'float32',
 'CNAE_PRINCIPAL': 'float32',
 'CNAE_SECUNDARIO': 'float32',
 'TIPO_LOGRADOURO': 'float32',
 'LOGRADOURO': 'category',
 'NUMERO': 'float32',
 'COMPLEMENTO': 'float32',
 'BAIRRO': 'float32',
 'CEP': 'float32',
 'UF': 'float32',
 'MUNICIPIO': 'float32',
 'DDD1': 'float32',
 'TELEFONE1': 'float32',
 'DDD2': 'float32',
 'TELEFONE2': 'float32',
 'DDD_FAX': 'float32',
 'FAX': 'float32',
 'EMAIL': 'float32',
 'SITUACAO_ESPECIAL': 'float32',
 'DATA_SITUACAO_ESPECIAL': 'float32'}

In [ ]:

dataframes = []
for cnae in lista_cnae:
    globals()[f'df_{cnae}'] = dados.loc[dados['CNAE_PRINCIPAL']== cnae]
    dataframes.append(f'df_{cnae}')
dados = pd.DataFrame()

In [4]:
# realizar a leitura para cada arquivo

full_dataset = []
for arq in all_files:
    frags = arq.split('.')
    frame = frags[1]
    globals()[f"df_{frame}"] = pd.read_csv(f'{diretorio}{arq}',sep=';' ,encoding="ISO-8859-1", nrows=50, names=CNPJ['ESTABELE'])
    #data = pd.read_csv(f'{diretorio}{arq}',sep=';' ,encoding="ISO-8859-1", nrows=50, names=CNPJ['ESTABELE'])
    full_dataset.append(globals()[f"df_{frame}"])
    #full_dataset.append(data)    
    globals()[f"df_{frame}"].head(1)

In [ ]:
print(full_dataset)

In [9]:
import sqlite3
# estabelecendo a conexão e criando o banco
con = sqlite3.connect('database_estabelecimento_sodexo.db')

In [10]:
# obtendo os nomes das tabelas
table_names = [os.path.splitext(arq)[0] for arq in all_files]

In [11]:
# obtendo os campos de todas as tabelas
table_fields = []
for i in range(0,len(table_names)):
    columnNames = list(full_dataset[i].head(0))
    table_fields.append(columnNames)

In [12]:
import sqlite3
cur = con.cursor()

In [13]:
# criando as tabelas no SQLite
for item in range(0,len(table_names)):
    cur.execute(f"""CREATE TABLE IF NOT EXISTS {table_names[item] } ( {','.join(table_fields[item])} )""")
    print(f"""CREATE TABLE IF NOT EXISTS {table_names[item] } ( {','.join(table_fields[item])} )""")

CREATE TABLE IF NOT EXISTS November_Estabelecimentos_Sodexo_Atualizado ( Estabelecimento,Endereço,Cidade_UF,Telefone,Latitude,Longitude )

In [18]:
# Varre todas as tabelas e para cada uma é realizada a inserção dos dados
for i in range(0, len(table_names)):

    query = f"""INSERT INTO  {str(table_names[i])} ( {','.join(table_fields[i])}  ) VALUES ( {','.join(map(str,'?'*len(full_dataset[i].columns)))} )"""


    full_dataset[i] = full_dataset[i].astype(str)

    for j in range(0, len(full_dataset[i])):
        insert_register = tuple(full_dataset[i].iloc[j])
        cur.execute(query, insert_register)
        con.commit()

In [32]:
def SELECT_WHERE(campo:str = '*' ,tabela:str = table_names[0], where:str = table_fields[0][2], condicao:str = 'Belo Horizonte, MG'):
    select = f""" SELECT {campo} FROM {tabela}
            WHERE {where} = '{condicao}'
    """

    cur.execute(select)
    rows = cur.fetchall()
    print(len(rows))
    for row in rows:
        print(row)

In [ ]:
SELECT_WHERE()

In [2]:
dadosben = pd.read_excel(r"C:\Users\ABRASEL NACIONAL\Documents\CNPJ_PROGRAMATICA\Painel_Leads\BaseCsv\ATUALIZADO_November_Estabelecimentos_Sodexo.xlsx", usecols=['Estabelecimento','Endereço','Cidade_UF'])
dadosben.head()

,Estabelecimento,Endereço,Cidade_UF
0,TOCA HAMBURGUER,"RUA GOV. MENEGUETTI, 24","Campo Bom, RS"
1,VANDERLEIA,"AVENIDA VSC DO RIO BRANCO JARDIM REY, 143","diadema, SP"
2,R.V. OLIVEIRA,"PRAC PRACA DA CATEDRAL, 1","Rio Branco, AC"
3,INDUSTRIA DE ALIMENTOS DO CARLITO,"RUA PREF DO RIO BRANCO, 3183","Capanema, PA"
4,QUENTINHAS EXPRESS,"RUA MAL-AR DEODORO, 472","Rio Branco, AC"

In [3]:
new_i = []
for i in dadosben['Endereço']:
    list_i = i.split(',')
    if len(list_i) > 1:
        new_i.append(list_i[0] + list_i[1])
    else:
        new_i.append(i)
dadosben['EnderecoComparacao'] = new_i

In [4]:
del new_i, i, list_i

In [5]:
dadosben.drop(columns='Endereço', inplace=True)

In [6]:

dadosben.to_csv('basecomparacao_cartoes.csv', mode='a', index=False)

In [7]:
del dadosben